<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mainPage</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6117695a060f0644636d10eec6c83951&libraries=services"></script>

    <style>
        body {
            height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #map {
            /*width: 100%;*/
            /*height: 100%;*/
            width: 40%;
            height: 40%;
            border: 2px solid black;
        }
        table {
            width: 80%;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script th:inline="javascript">
        var dataList = [[${dataList}]];
        if (dataList.length === 0) {
            alert("No data available.");

            const container = document.getElementById('map');
            const options = {
                center: new kakao.maps.LatLng(35.416362, 127.390405),
                level: 7
            };
            const map = new kakao.maps.Map(container, options);

        } else {
            // alert("ok");

            const container = document.getElementById('map');
            const options = {
                center: new kakao.maps.LatLng(35.416362, 127.390405),
                level: 7
            };
            const map = new kakao.maps.Map(container, options);

            var imageSrc2 = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
            var imageSrc = /*[[@{/green.png}]]*/ '';
            var imageGreen = /*[[@{/green.png}]]*/ '';
            var imageOrange = /*[[@{/orange.png}]]*/ '';
            var imageRed = /*[[@{/red.png}]]*/ '';
            var imageParking = /*[[@{/parking.png}]]*/ '';

            var imageSize = new kakao.maps.Size(10, 10);
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            for (var i = 0; i < dataList.length; i++) {
                console.log(dataList[i].parkingName, dataList[i].parkingLat, dataList[i].parkingLon)

                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(dataList[i].parkingLat, dataList[i].parkingLon),
                    title: dataList[i].parkingName,
                    image: markerImage
                });
            }
        }
    </script>

</body>
</html>