<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mainPage</title>
    <script src="/js/functions.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6117695a060f0644636d10eec6c83951&libraries=services"></script>
</head>
<body>
    <div id="map"></div>

    <script th:inline="javascript">
        var dataList = [[${dataList}]];
        var markers = []; // 배열로 마커 정보 저장
        var currentInfowindow = null; // 현재 열린 팝업창 저장

        function addMarkers(map) {
            for (var i = 0; i < dataList.length; i++) {

                var markerImage = createMarkerImage(dataList[i].parkingColor);

                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(dataList[i].parkingLat, dataList[i].parkingLon),
                    title: dataList[i].parkingName,
                    image: markerImage
                });

                // marker 클릭 이벤트 핸들러
                kakao.maps.event.addListener(marker, 'click', (function(marker, data) {
                    return function() {
                        console.log("click")
                        var popupYn = true;

                        if (currentInfowindow) {
                            var infowindowContent = currentInfowindow.getContent();
                            console.log("infowindowContent - ", infowindowContent);

                            var infowindowParkingName = extractValue(infowindowContent, "Name:");
                            var infowindowParkingLat = extractValue(infowindowContent, "Lat:");
                            var infowindowParkingLon = extractValue(infowindowContent, "Lon:");
                            console.log("Name - ", infowindowParkingName);
                            console.log("Lat - ", infowindowParkingLat);
                            console.log("Lon - ", infowindowParkingLon);

                            if (
                                infowindowParkingName === data.parkingName &&
                                infowindowParkingLat === data.parkingLat &&
                                infowindowParkingLon === data.parkingLon
                            ){
                                popupYn = false;
                            }
                            currentInfowindow.close();
                            currentInfowindow = null;
                        }
                        if(popupYn){
                            var content = createInfoWindowContent(data);

                            var infowindow = new kakao.maps.InfoWindow({
                                content: content,
                            });

                            infowindow.open(map, marker);
                            currentInfowindow = infowindow;
                        }
                        else{
                            popupYn = true;
                        }
                    };
                })(marker, dataList[i]));

                markers.push(marker);
            }
        }

        const container = document.getElementById('map');
        const options = {
            center: new kakao.maps.LatLng(35.416362, 127.390405),
            level: 7
        };
        const map = new kakao.maps.Map(container, options);

        if (dataList.length === 0) {
            alert("No data available.");
        } else {
            addMarkers(map);
        }
    </script>
</body>
</html>