body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#map {
    width: 100%;
    height: 100%;
    /*width: 40%;*/
    /*height: 40%;*/
    border: 2px solid black;
}
#parkingInfo {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#parkingInfo img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}
#parkingInfo span {
    font-size: 10px;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    padding: 4px;
    background-color: white;
    border-radius: 3px;
    width: 54px;
    height: 6px;
    display:inline-block;
    text-align: center;
    line-height: 6px;
    vertical-alig: middle;
}
.info-container {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.info-item {
    margin-bottom: 8px;
}
.info-label {
    font-weight: bold;
    font-size: 10px;
}
.info-value {
    font-weight: bold;
    font-size: 10px;
}